.w3l-main-slider .banner-view:before{
	    background: none;
}

header#site-header {
    /**
	background: var(--primary-color);
	**/
	background:white;
    border-bottom: solid 3px var(--secondary-color);
	position:inherit;
}

.w3l-main-slider .banner-view {
    min-height: 85vh;
}

.navbar .navbar-brand img {
    max-width: 290px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    opacity: 1;
    color: var(--secondary-color);
}

.navbar-expand-lg .navbar-nav .nav-link.active {
    color: var(--primary-color);
}


.nav-fixed .navbar-expand-lg .navbar-nav .nav-link.active{
	color:var(--primary-color)!important;
}

a.btn-primary {
    background: var(--secondary-color);
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    opacity: 1;
    color: var(--secondary-color);
}

a.btn-primary:hover {
    background: var(--secondary-color)!important;
    border-color: white;
	opacity: 0.7;
}

.pt-5, .py-5 {
    padding-top: 0px!important;
}

.resp-tabs-list li {
    font-size: 15px;
    padding: 5px 10px;
    width: 20%;
}

.resp-tab-active {
    border-top: 2px var(--secondary-color) solid !important;
    color: var(--secondary-color);
}

.resp-tabs-list li {
    color: var(--primary-color);
}

.resp-tab-active {
    color: var(--secondary-color)!important;
}